name: Release Charts

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.19.0

      - name: Add helm Repos for dependencies
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add vsphere-tmm https://vsphere-tmm.github.io/helm-charts
          helm repo add piraeus https://piraeus.io/helm-charts/
      - name: Build chart dependencies
        env:
          HELM_EXPERIMENTAL_OCI: "1"
        run: |
          # Vendor dependencies so chart-releaser packages local charts and doesn't try
          # to pull from OCI registries itself (avoids helm internal OCI client bug).
          helm dependency build charts/vsphere-csi
          helm dependency build charts/vsphere-cpi || true
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0 
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          HELM_EXPERIMENTAL_OCI: "1"
